# Build Directory is created using 'colcon build'
build/**

# Install Directory is created using 'colcon build'
install/**

# Log Directory is created using 'colcon build'
log/**

# We do not want ANY swap files accidentally included in the worktree
*.swp

# Used to configure the individual camera
calibration.bin
calibration.json
rs-imu-calibration.py

src/vision_pkg/src/rs_camera_node.cpp.backup
