<!-- HTML: Networking -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/resources/roslib.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/networking.js')}}" defer></script>
   <link rel="stylesheet" href="{{url_for('static', filename='css/networking.css')}}">
    <title>Networking Page</title>
 </head>
 <body>
    <div class="header"><h1>Networking</h1></div>

    <div class="outer-box">

    </div>
    </div>
 
   </body>
 </html>